<ion-view view-title="GOLAZZOS" >
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" pager-click="navSlide(index)" auto-play="true" does-continue="true">
      <ion-slide>
        <img ng-src="https://d2rdr03y0akbm.cloudfront.net/assets/v3/backgrounds/juega-con-tus-amigos-golazzos-slider3-ce4919efd817cdffd78a898a9522cb33.jpg">
      </ion-slide>
      <ion-slide>
        <img ng-src="https://d2rdr03y0akbm.cloudfront.net/assets/v3/backgrounds/la-primera-red-social-de-apuestas-de-futbol-predicciones-b81c1a4c55be3b2e641e488a7f381ee7.jpg">
      </ion-slide>
      <ion-slide>
        <img ng-src="https://d2rdr03y0akbm.cloudfront.net/assets/v3/backgrounds/mob_slider1_02-1b89661f024ec625feadf1dcee62187a.jpg">
      </ion-slide>
    </ion-slide-box>


    <div class="list card">
      <div class="item item-divider"><p class="txt-center">Juega Ya!</p></div>
      <div class="item item-body">
        <div class="row">
          <div class="col"><img class="img-equipo" ng-src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
          <div class="col">marcador</div>
          <div class="col"><img class="img-equipo" ng-src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-energized center">
              Jugar
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><p class="txt-center">Juega Ya!</p></div>
      <div class="item item-body">
        <div class="row">
          <div class="col"><img class="img-equipo" src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
          <div class="col">marcador</div>
          <div class="col"><img class="img-equipo" src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-energized center">
              Jugar
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><p class="txt-center">Juega Ya!</p></div>
      <div class="item item-body">
        <div class="row">
          <div class="col"><img class="img-equipo" src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
          <div class="col">marcador</div>
          <div class="col"><img class="img-equipo" src="https://d2rdr03y0akbm.cloudfront.net/assets/teams-logos/31-241c2717012aaa57d2151bfc6d2c5b53.gif"></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-energized center">
              Jugar
            </button>
          </div>

        </div>
      </div>
    </div>



    <div class="bar footer">
      <div class="title">Footer</div>
    </div>
  </ion-content>
</ion-view>
